<section class="bg-main mb-8 pb-2 pt-4">
  <div
    class="max-w-screen-xl text-white m-auto text-3xl sm:text-4xl flex md:flex-row flex-col justify-between items-center px-4 font-[league] uppercase gap-4 md:gap-16 pb-2"
  >
    <h2 class="text-center pt-3">Conoce nuestro catalogo</h2>
    <a
      href="https://wa.me/15530830396/"
      target="_blank"
      class="bg-white text-main pt-3 px-8 rounded-full hover:opacity-50 transition-opacity"
      >Contactanos</a
    >
  </div>
</section>

<style>
  h2 {
    letter-spacing: 0.2rem;
  }
</style>
