<section id="contacto" class="bg-main">
  <div class="grid md:grid-cols-2 max-w-screen-xl m-auto items-center">
    <form class="text-white w-full p-4 sm:p-8" id="form">
      <h2 class="text-4xl mb-8">Contacto</h2>
      <label for="name" class="block text-3xl mb-4">NOMBRE</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Nombre completo"
        class="block bg-transparent border-b border-white w-full text-xl focus:outline-none"
      />
      <label for="message" class="block text-3xl my-4">MENSAJE</label>
      <input
        type="text"
        name="message"
        id="message"
        placeholder="Escribir mensaje"
        class="block bg-transparent border-b border-white w-full text-xl focus:outline-none"
      />
      <div class="flex justify-end">
        <button
          type="submit"
          class="bg-white hover:bg-white/50 transition-colors text-main p-2 rounded-lg mt-4 ml-auto"
          >Enviar Mensaje</button
        >
      </div>
    </form>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7521.081887520951!2d-99.10352691197535!3d19.518376305789428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fbfb8f3eeb7b%3A0x747e31e4bba188ae!2sElastitelas%20Ramakat!5e0!3m2!1ses-419!2smx!4v1731429489738!5m2!1ses-419!2smx"
      width="100%"
      height="450"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>

<script>
  window.onload = () => {
    const login = document.getElementById("form") as HTMLFormElement;

    login.onsubmit = (e) => {
      e.preventDefault();

      const nombre = (document.getElementById("name") as HTMLInputElement)
        .value;
      const mensaje = (document.getElementById("message") as HTMLInputElement)
        .value;

      const saludo = nombre !== "" ? `Saludos soy ${nombre}` : "Hola";

      window.open(
        `https://wa.me/15530830396/?text=${saludo} ${mensaje}`,
        "_blank"
      );
    };
  };
</script>
