<header class="bg-main text-slate-50 px-4 py-2">
  <div class="max-w-screen-xl m-auto flex gap-2 relative">
    <img src="./logotipo.webp" class="h-12" alt="logo de la empresa" />
    <img
      src="./logo.webp"
      alt="logo de la empresa"
      draggable="false"
      class="size-20 opacity-50 absolute -top-10 right-20"
    />
  </div>
</header>
