---
import Footer from "./Footer.astro";
import Header from "./Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Somos expertos en las confección de textiles"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "league";
    src: url("/fonts/LeagueSpartan-Bold.otf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "sanchez";
    src: url("./fonts/Sanchezregular.otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: league;
  }

  p,
  label,
  input,
  button,
  li {
    font-family: sanchez;
  }
</style>
